/* styles.css o App.css */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Evita barras de desplazamiento en el body */
}

#root {
    height: 100%;
    /* Asegúrate de que el contenedor raíz ocupe el 100% de la altura */
}