/* styles.css o App.css */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Evita barras de desplazamiento en el body */
    background: linear-gradient(180deg, hsl(0, 0%, 11%) 0%, rgb(28, 28, 29) 100%);
}

#root {
    height: 100%;
    /* Asegúrate de que el contenedor raíz ocupe el 100% de la altura */
}